.css-2ulfj5-MuiTypography-root {
    color:#4c5372 !important;
}
.nav-link {
    color:#4c5372;
}
.nav-link:hover {
    color:#4c5372;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color:transparent;
    color:#4c5372;
    border-color:#D9D9D9;
    border: 2px 2px  2px 0 solid #4c5372;

}
.css-lll1vm-MuiButtonBase-root-MuiButton-root {
    background-color: #4c5372 !important;
    color: white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    box-shadow: 0 0 10px rgba(72, 69, 224, 0.1);
  
}
.css-lll1vm-MuiButtonBase-root-MuiButton-root:hover{
    background-color: #f4eaf1 !important;
    color: #3f3d56;
    border: 1px solid rgb(63, 61, 86);
    -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
      -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
      box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}
.css-10hburv-MuiTypography-root,.css-i4bv87-MuiSvgIcon-root{
    color: #fffdf6;
  }

  .css-1aquho2-MuiTabs-indicator {
    background-color:#4c5372 !important;
  }
  .css-aym9vq-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color:#4c5372 !important;
  }
  .css-heg063-MuiTabs-flexContainer{
    justify-content:center;
  }
  .Reviews .css-10hburv-MuiTypography-root{
color:#4c5372 !important ;
  }
  .css-1uvicyx-MuiTypography-root-MuiDialogTitle-root {
    color:#4c5372 !important ;

  }
  .post-review .css-1fqo4oq-MuiButtonBase-root-MuiButton-root{
    background-color:#4c5372 !important ;
    color: white !important;
  }
  .css-1onm1wo-MuiDialogContent-root {
width:100%;
  }

  .css-15befwp-MuiRating-root {
font-size:1rem !important;

} 
.addButton{
  background-color: #4c5372 !important;
}
.courseDetails{
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}