.css-jvj0z-MuiStack-root {
    width:100% !important;
}
.AddSubmition     .col-md-10  {
    width:100% !important;
}

.AddSubmition .css-1xu2qw-MuiButtonBase-root-MuiButton-root {
    background-color: #4c5372 !important;
}
.css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root 
{
width:500px;
}