.css-11b3ww9-MuiPaper-root-MuiAppBar-root{
    background-color: #4C5372 !important;
    position: fixed !important;
}
/* .nav{
    background-color: #4C5372 !important;
    position: fixed !important;
}
.typo{
    color: aqua !important;
} */
.css-5poeop{
    background-color: #4C5372 !important;
    position: fixed !important;
}