@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body{
    font-family:  "Nunito", sans-serif !important;
}
.feedbackPara{
    background-color: #e2d4e0;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .05);
    border-radius: 30px 30px 30px 0;
    padding: 20px;
    margin-bottom: 20px;
}
.generalFeedback{
    background-color: #fffdf6;
    
}
.userInfo img{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
}
.feedbackTitle{
    color: #4c5372;
    font-family:  "Nunito", sans-serif;
    font-weight: 900;
}
.writerName{
    color: #4c5372;
}
.addFeedIcon{
    color: #4c5372;
}
.css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root{
    width: 600px;
}

/* .rating:not(:checked) > input {
    position: absolute;
    appearance: none;
  }
  
  .rating:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    fill: #666;
  }
  
  .rating:not(:checked) > label > svg {
    fill: #666; 
    transition: fill 0.3s ease; 
  }
  
  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
    fill: #e58e09;
  }
  
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    fill: #ff9e0b;
  }
  
  .rating > input:checked ~ label > svg {
    fill: #ffa723; 
  } */

  .rating:not(:checked) > input {
    position: absolute;
    appearance: none;
}

.rating:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    fill: #666;
}

.rating:not(:checked) > label > svg {
    fill: #666; /* Set default color for SVG */
    transition: fill 0.3s ease; /* Add a transition effect */
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    fill: #e58e09;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    fill: #ff9e0b;
}

.rating > input:checked ~ label > svg {
    fill: #ffa723; /* Set color for selected stars */
}
.animation{
    width: 500px;
    height: 500px;
}
@media screen and (max-width: 576px){
    .animation{
        width: 300px;
        height: 300px;
    }   
}

  