.css-jvj0z-MuiStack-root {
    width:100% !important;
}
.RequestCourse .col-md-6{
    width:80% !important;
}
.css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root {
    width:80% !important;
}
.RequestCourse .css-1xu2qw-MuiButtonBase-root-MuiButton-root {
    background-color: #4c5372 !important;
}
.css-u6xhno-MuiStack-root>:not(style):not(style) {
    width:90%;
}
.css-10hburv-MuiTypography-root,.css-i4bv87-MuiSvgIcon-root{
    color: #fffdf6;
  }