@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bebas+Neue&display=swap');

.css-1xylxj1-MuiTypography-root-MuiLink-root {
    color: black !important;
}
/* .css-6dt1q3-MuiList-root {
    background-color:transparent;
    border-width: 2px;
    border-color: #4c5372;
     margin-left:50px;
    position:absolute;
    bottom:29%;
width:70% !important;} */

/* .css-1qrdt9m-MuiList-root  {
    top:60%;
    background-color:transparent;
    border-width: 2px;
    border-color: #4c5372;
    width:90% !important;
   
  } */


  .css-9mgopn-MuiDivider-root {
    border-width: 1px;
    border-color: #4c5372;
}

.css-oratom-MuiButtonBase-root-MuiButton-root{
    background-color: #4c5372;
}
.css-oratom-MuiButtonBase-root-MuiButton-root:hover{
    background-color: #4c5372;
}
.studentTask .css-6dt1q3-MuiList-root{
    background-color: transparent;
    border-width: 2px;
    border-color: #4c5372;
    margin-top:40px;
    margin-left:55px;
    width:85% !important;
}
.studentTask .css-whk7y5-MuiList-root{
left:55px;
width:85%;
}
.taskSubmision h4, .submit-area h4{
    font-family: "Acme", sans-serif;
    font-weight: 400 !important;
    font-style: normal !important;
    font-size:30px;
    color:#4c5372 !important ;
}


@media screen and (max-width: 576px){
  .announ{
    width: auto !important;
    height: auto;
}  
.linkk{
    width: auto !important;
    height: auto;
}
.filee{
    width: auto !important;
    height: auto;
}
.taskk{
    width: auto !important;
    height: auto;
}
}