@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.side-drawer{
    background-color: #4C5372 !important;
    color: #fffdf6;
    height:100%;
}
.side-drawer span, .side-drawer a,.side-drawer svg{
    color: #fffdf6;
}
.css-d9ml5t-MuiDrawer-docked .MuiDrawer-paper {
    background-color: #4C5372 !important;
    color: #fffdf6;
}

.css-1l88nyr{
    background-color: #4C5372 !important;
}
.side-drawer2{
    color: #4C5372 !important;
}
.drawerSide .titleSide{
    color: #4C5372 !important;
    font-weight: 800!important;
    font-family: "Poppins", sans-serif!important;
}
.sidelist{
    /* margin-top: 0; */
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }