.css-1xylxj1-MuiTypography-root-MuiLink-root {
    color:#4c5372 !important;

}
.css-q8hpuo-MuiFormControl-root {
    width:8% !important;
}
.css-10hburv-MuiTypography-root,.css-i4bv87-MuiSvgIcon-root{
    color: #fffdf6;
  }