@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
.pageTitle{
   position: relative;
   z-index: 1;
   font-family:  "Nunito", sans-serif;;
}
.Contactitle{
   font-weight: 900;
   color: #4C5372;
   font-size: 36px;
}
.shape1{
   position: absolute;
   left: 20%;
   bottom: 10%;
   z-index: -1
}
.shape1 .shape1a{
   animation-name: rotateme;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   animation-timing-function: linear
}
.shape2{
   position: absolute;
   right: 20%;
   bottom: 20%;
   z-index: -1
}
.shape2 .shape1a{
   animation-name: rotateme;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   animation-timing-function: linear
}
@keyframes rotateme {
   0% {
       transform: rotate(0deg)    ;
       -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
       -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
}

   to {
       transform: rotate(1turn)    ;
       -webkit-transform: rotate(1turn);
       -moz-transform: rotate(1turn);
       -ms-transform: rotate(1turn);
       -o-transform: rotate(1turn);
}
}

.form-container , .form-container form .col-md-6 {
    width:100%;
}
.css-1xu2qw-MuiButtonBase-root-MuiButton-root {
    background-color:#4C5372;
}