@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
.pageTitle{
   position: relative;
   z-index: 1;
   font-family:  "Nunito", sans-serif;;
}
.eventstitle{
   font-weight: 900;
   color: #4C5372;
   font-size: 36px;
}
.shape1{
   position: absolute;
   left: 20%;
   bottom: 10%;
   z-index: -1
}
.shape1 .shape1a{
   animation-name: rotateme;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   animation-timing-function: linear
}
.shape2{
   position: absolute;
   right: 20%;
   bottom: 20%;
   z-index: -1
}
.shape2 .shape1a{
   animation-name: rotateme;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   animation-timing-function: linear
}
@keyframes rotateme {
   0% {
       transform: rotate(0deg)    ;
       -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
       -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
}

   to {
       transform: rotate(1turn)    ;
       -webkit-transform: rotate(1turn);
       -moz-transform: rotate(1turn);
       -ms-transform: rotate(1turn);
       -o-transform: rotate(1turn);
}
}
.css-1gsv261 {
    background-color: rgb(248, 249, 248);
    margin-top:40px;
    margin-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 5px;
    display:flex;
    justify-content:center;
}
.css-1aquho2-MuiTabs-indicator {
    background-color: #4C5372;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color: #4C5372;
    font-family:  "Nunito", sans-serif;

}
.event-details .event-image{
    position: relative;
}
.event-details .event-image img{
    width:100%;

    border-radius: 5px 5px 5px 0;
}
.event-details{
    transition: 0.5s;
    background-color:#fff;
    margin-bottom: 30px;
    border:1px dashed #949ab1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.event-details:hover{
box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}
.event-details .event-image .date {
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    background-color: #fff;
    color: #4C5372;
    padding: 8px 20px 7px;
    border-radius: 0 5px 0 0;
    font-size: 15px;
    font-weight: 700;
}
.event-details .event-image .date:before {
    content: "";
    position: absolute;
    left: 20px;
    bottom: 0;
    width: 60px;
    height: 1px;
    background-color: #acacac;
}
.event-details .content {
    border-radius: 0 0 5px 5px;
    padding: 20px;
    position: relative;
}
.content  a{
    font-family:  "Nunito", sans-serif;
    line-height: 1.3;
    font-weight: 800;
    display: inline-block;
    text-decoration:none;
    color: #221638;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.content  .event-title {
    font-family:  "Nunito", sans-serif;
    line-height: 1.3;
    font-size: 24px;
    font-weight: 800;
    display: inline-block;
    text-decoration:none;
    color: #221638;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.content a:hover {
    color: #4C5372;

}
h4{
    font-family:  "Nunito", sans-serif;;
    color: #4C5372;
    font-weight:600;
    line-height: 1.3;


}
.css-q8hpuo-MuiFormControl-root {
width:10%;
}
.event-header .event-date {
    margin-bottom: 20px;
    background-color: #f8f9f8;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
}
.event-header .event-date span {
    font-family:  "Nunito", sans-serif;;
    color: #4C5372;
    font-weight:600;
    line-height: 1.3;
}
.event-info{
    background-color: #f8f9f8;
    border-radius: 5px;
    padding: 35px;
}
.event-info .details {
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom: 1px solid #e5e5e7;
    color: #4C5372;
    font-size: 17px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 14px;
}
.details p {
    color: #606060;
    margin-bottom: 15px;
    line-height: 1.6;
    font-size: 16px;
}